@model HeathyFood.Models.Entities.DonHang 
@{
    ViewBag.Title = "ThanhToanDonHang";
    Layout = "~/Views/Shared/_HeathyFood_Layout.cshtml";
}

<section class="product-order-success-section section-ptb">
    <div class="container">
        <div class="product-order-success-container">
            <div class="product-order-success">
                <div class="iconimage">
                    <img src="~/Publics/images/checkicon.png" alt="icon">
                </div>
                <h2>Your order has been received.</h2>
                <p>Thank you for order with eflux</p>
                <a href="#" class="order-btn">View Order Details</a>
            </div>
            <div class="order-description">
                <ul class="order-info">
                    <li>
                        <h6>Your Order Number</h6>
                        <span>:</span>
                        <p>Order# @Model.MaHD</p>
                    </li>
                    <li>
                        <h6>Your Order Date </h6>
                        <span>:</span>
                        <p>@Model.NgayDatHang</p>
                    </li>
                    <li>
                        <h6>Total</h6>
                        <span>:</span>
                        <p>@Model.TongTien</p>
                    </li>
                </ul>
                <a href="#" class="view-summery">View a summary of your order</a>
            </div>
        </div>
    </div>
</section>

