@model IEnumerable<HeathyFood.Models.Entities.AnhSanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<h2>Index</h2>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content my-2">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <strong class="text-danger text-uppercase">Danh sách Ảnh sản phẩm</strong>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="@Url.Action("Create","AnhSanPham")" class="btn btn-sm btn-success ">

                            <img src="~/Publics/images/Icon/plus.png" />  Thêm
                        </a>


                    </div>
                </div>

            </div>
            <div class="card-body text-center">


                <table class="table table-bordered table-striped" id="myTable">
                    <thead>

                        <tr>
                            <th>
                                Ảnh
                            </th>

                            <th>
                                Sản phẩm
                            </th>
                            <th>
                                Tên Ảnh
                            </th>
                            <th>
                                isMain
                            </th>
                            <th>
                                Action
                            </th>



                        </tr>
                    </thead>
                    <tbody id="tblAnh">
                    </tbody>

                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination my-4 float-right">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li>
                            <ul class="pagination" id="PhanTrang"></ul>
                        </li>



                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- /.card-body -->
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>

<div class="modal" tabindex="-1" role="dialog" id="modalChiTietAnh">
    <div class="modal-footer" role="document">
        <div class="modal-content ">
            <div class="panel panel-default">
                <div class="panel-heading" style="color:aqua;">
                    <h4 class="panel-title py-3 text-danger text-uppercase text-center" style="background-color:cornsilk;">Chi tiết Ảnh sản phẩm</h4>
                </div>
                <div class="container py-3">
                    <class id="img"></class>
                    <table class="table table-bordered text-center my-5">
                        <thead>
                            <tr>

                                <th>Mã Ảnh </th>
                                <th>Mã sản phẩm </th>
                                <th>Tên Ảnh  </th>
                                <th> URL</th>
                                <th> isMain</th>


                            </tr>
                        </thead>

                        <tbody class="text-center" id="tblChiTiet">
                        </tbody>

                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modalXoa">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="panel panel-default text-center" style="font-family:Bahnschrift">
                <div class="panel-heading">
                    <h4 class="panel-tiRPe py-3 text-danger text-uppercase text-center" style="background-color:bisque;">Xóa</h4>

                </div>

                <p>Bạn có muốn xóa Ảnh sản phẩm này không?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" style="margin-right:90px;" id="btnDelete">Xác nhận</button>
                <button type="button" class="btn btn-secondary" style="margin-right:120px;" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="modalHienThiLoi">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="panel panel-default text-center" style="font-family:Bahnschrift">
                <div class="panel-heading">
                    <h4 class="panel-tiRPe py-3 text-danger text-uppercase text-center" style="background-color:bisque;">Thông báo</h4>

                </div>

                <p>Mã Ảnh sản phẩm này đã tồn tại!</p>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" style="margin-right:220px;" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>




@section scripts{
    
    <script src="~/Publics/js/AnhSanPham.js"></script>
}

